.wrapper {
  width: 70%;
  height: 100vh;
  border-radius: 1rem;
  margin: auto;
  gap: 1rem;
  background: #000;
  padding-left: 3rem;
  padding-right: 6rem;
  transform: translate(50% -50%);
}

.container {
  display: grid;
  row-gap: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upper {
  display: grid;
  grid-template-columns: 25rem 13rem;
  grid-template-rows: 12rem;
  column-gap: 15px;
}

.lower {
  display: grid;
  grid-template-columns: 18rem 13rem;
  grid-template-rows: 14.5rem;
  column-gap: 15px;
  margin: 0;
  padding: 0;
}

.lower-1 {
  display: grid;
  row-gap: 15px;
  grid-template-columns: 20rem;
  grid-template-rows: 6rem 7.5rem;
}

.three {
  background: green;
}

.four {
  background: blue;
}
.five {
  background: yellow;
}
.six {
  background: purple;
}
