@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Open+Sans:ital,wght@0,700;1,400&display=swap");

* {
  border: none;
  padding: 0;
  line-height: 1.5;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box !important;
  list-style: none;
  max-width: 100%;
}

body {
  font-size: 15px;
  height: 100%;
}
.grt {
  margin-top: 2rem;
}

.second-task {
  text-decoration: none;

  color: #fff;
  background: blue;
  padding: 0.7rem 1.5rem;
  margin: auto;
  font-size: 1.5rem;
  border-radius: 2rem;
  margin-top: 2rem;
}

.container {
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin: auto;
}

h2 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  padding-top: 1rem;
}

button {
  background: hsl(0, 0%, 95%);
  padding: 0.7rem 1.5rem;
  margin-top: 4rem;
  border-radius: 5rem;
  font-weight: 700;
}

.col-1,
.col-2,
.col-3 {
  padding: 3rem;
}

.col-1 {
  background-color: hsl(31, 77%, 52%);
}

.col-2 {
  background-color: hsl(184, 100%, 22%);
}

.col-3 {
  background-color: hsl(179, 100%, 13%);
}

.col-1 button {
  color: hsl(31, 77%, 52%);
}

.col-2 button {
  color: hsl(184, 100%, 22%);
}

.col-3 button {
  color: hsl(179, 100%, 13%);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 1024px) {
  .col-1,
  .col-2,
  .col-3 {
    height: 80vh;
  }

  .col-1 button {
    margin-top: 2.8rem;
  }

  button {
    background: transparent;
    border: 0.1rem solid hsl(0, 0%, 95%);
    margin-top: 5rem;
    padding: 0.7rem 1rem;
  }

  .col-1 button,
  .col-2 button,
  .col-3 button {
    color: hsl(0, 0%, 95%);
  }
}

@media only screen and (max-width: 912px) and (min-width: 768px) {
  .col-1 button,
  .col-3 button {
    margin-top: 3.5rem;
  }
}
